div{
    background-color:cadetblue;
}
h1{
    color: royalblue;
    text-align: center;
    -webkit-text-fill-color: teal;

}
#sina
{
text-align:center;
color:red;
}

#arya{
    color-interpolation-filters: sRGB;
    word-wrap: break-word;
    background-color: navy;
    font-family: serif;
    font-size: 56;
}