#AVjumbotron{
    background-color: sienna;
    font:small;
    color:gold;
    font-family: sans-serif;
    text-justify: inter-cluster;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}
#AVjumbotronH1{
    background-color: sienna;
    font: italic;
    font:small;
    color:red;
    font-family: sans-serif;
}
div{
    background-color:cadetblue;
}
h1{
    color: royalblue;
    text-align: center;
    -webkit-text-fill-color: teal;

   
}
#sina
{
text-align:center;
color:gold;
}

#arya{
    color-interpolation-filters: sRGB;
    word-wrap: break-word;
    background-color: navy;
    font-family: serif;
    font-size: 56;
}
#tehran{
    margin: 4px,9px;
    nav-down: auto;
    border: 3 saddlebrown darkblue;
    background-color:darkgray;
    
}