body{
    padding: 0px;
    margin: 0px;
    background: #e5eaf0;
}
#content,
#footer,
#copyright,
#header{
    margin:10px;
    background: #a5afba;
    min-height: 150px;
    overflow: hidden;
}
#footer,
#content{
    background: none;
}
#left{
    width: 150px;
    float: left;
    background: #a5afba;
    min-height: 400px;
}
#right{
    width: 330px;
    float: right;
    min-height: 400px;
}
#right-top div{
    width: 100px;
    float: right;
    margin-left: 10px;
    height: 100px;
    background: #a5afba;
}
#right-bottom{
        background: #a5afba;
        width: 320px;
        float: right;
        height: 290px;
        margin-top: 10px;
}
#footer{
    margin-left: 0px;
}
#footer div{
    width: 235px;
    float: left;
    margin-left: 10px;
    height: 150px;
    background: #a5afba;
}








#AVjumbotron{
    background-color: sienna;
    font:small;
    color:gold;
    font-family: sans-serif;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    border-right: firebrick;
    text-align: center;

}
#AVjumbotronH1{
    background-color: sienna;
    font: italic;
    font:small;
    color:red;
    font-family: sans-serif;
}

body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color:sienna;
}

.topnav a {
  float: left;
  display: block;
  color: wheat;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color : blue;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:gold;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:sandybrown;
  color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: sandybrown;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:darkcyan;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:gold;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:sienna}

.dropdown:hover .dropdown-content {
    display: block;
}


#sina
{
text-align:center;
color:gold;
}
